doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Main
        link(rel="stylesheet", href="css\\style.css")
        link(rel="stylesheet", href="css\\main.css")

    body
    header 
        h1 1 vs 1
        nav 
            span.link-active Home
            if(user.user != null)
                a.nav-item(href="/my_contest") My Contest
                a.nav-item(href="/practice") Practice
                a.nav-item(href="ques.html") Add-Ques
            span.nav-item Ranking
            if(user.user == null)
                a.nav-item(href="/sign") Sign-In
            span.user-name #{user.user}
        
        main
            .create-contest
                h2 Create Contest
                img(src="images//hacker.png", alt="Img here")
                form(action="/new_contest" method="post")
                    
                    span Enter ID1
                    input(type="text" name="ID1")
                    br
                    br

                    span Enter ID2
                    input(type="text" name="ID2")
                    br
                    br

                    span Enter ques 1
                    input(type="text" name="q1")
                    br
                    br


                    span Enter ques 2
                    input(type="text" name="q2") 
                    br
                    br

                    span Enter ques 3
                    input(type="text" name="q3") 
                    br
                    br

                    span Enter ques 3
                    input(type="datetime-local", name="time")
                    br
                    br

                    input(type="submit", value="Submit")
            if(user.user==null)
                .login
                    h2 Login          
                    form(action="/login", method="post")
                        span Enter ID : 
                        input(type="text" name="ID")
                        br
                        br
                        span Password : 
                        input(type="password" name="password")
                        br
                        br
                        input(type="submit", value="Submit")
            else
                .quesdone
                    h2 My Questions    
                    br 
                    each i in user.quesdone
                        a(href=`/${i}`) #{i}
                    span Baggy-array 
                    span Cute-Array
                .quesmade
                    h2 My Authored Questions    
                    br 
                    each i in user.quesmade
                        span #{i}