doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0")
    body
        header 
            h1 1 vs 1
            nav 
                a.nav-item(href="/") Home 
                span.nav-item Running Contest
                span.link-active Practice
                span.nav-item Ranking
                a.nav-item(href="ques.html") Add-Ques  
        main.outer-box
            each ques in arr
                if ques.type == 'public'
                    a.ques-item(href=`/${ques.ques_name}` name=l)
                            img.img-icon(src="hacker.png", alt="Bad connection" width="50px")
                            .ques-item-inside-l #{ques.ques_name} 
                            -var diff = '#' + ques.difficulty
                            .ques-item-inside-r #{diff}
                    br