<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1 vs 1</title>
</head>

<body>
    <header>
        <h1>
            1 vs 1
        </h1>
        <nav class='nav-main'>
            <span class="nav-item"><a href="/">Home</a></span>
            <span class="nav-item">Create contest</span>
            <span class="nav-item"><a href="/practice">Practice</a></span>
            <span class="nav-item"><a href="sol.html">Solution</a></span>
            <span class="nav-item">Ranking</span>
            <span class="link-active">Add Question</span>
        </nav>
    </header>
    <main>

        <div class="addq-box">
            <form action="/addQuesPost" method="post">
                <textarea name="ques_name" cols="100" rows="2" placeholder="Ques name here" spellcheck="false"
                    style="font-family: sans-serif;background-color: rgb(156, 184, 206);"></textarea>
                <textarea name="problem_statement" cols="100" rows="15" placeholder="Add ques in here"
                    spellcheck="false"
                    style="font-family: sans-serif; background-color: rgb(157, 188, 214);"></textarea>
                <textarea name="input_format" cols="100" rows="7" placeholder="Add Input Format" spellcheck="false"
                    style="font-family: sans-serif;background-color: rgb(165, 191, 212);"></textarea>
                <textarea name="output_format" cols="100" rows="7" placeholder="Add Output Format" spellcheck="false"
                    style="font-family: sans-serif;background-color: rgb(139, 174, 203);"></textarea>
                <textarea name="sample_input" cols="100" rows="5" placeholder="Add Sample Input" spellcheck="false"
                    style="font-family: sans-serif;background-color: rgb(145, 178, 205);"></textarea>
                <textarea name="sample_output" cols="100" rows="5" placeholder="Add Sample Output" spellcheck="false"
                    style="font-family: sans-serif;background-color: rgb(149, 186, 216);"></textarea>
                <textarea name="input_test" cols="100" rows="8" placeholder="Input Test cases" spellcheck="false"
                    style="font-family: sans-serif;background-color: rgb(157, 185, 208);"></textarea>
                <textarea name="output_test" cols="100" rows="8" placeholder="Output Test cases" spellcheck="false"
                    style="font-family: sans-serif;background-color: rgb(158, 201, 237);"></textarea>
                <textarea name="constraints" cols="100" rows="2" placeholder="Constraints" spellcheck="false"
                    style="font-family: sans-serif;background-color: rgb(127, 170, 204);"></textarea>
                <textarea name="difficulty" cols="100" rows="2" placeholder="Difficullty here" spellcheck="false"
                    style="font-family: sans-serif;background-color: rgb(125, 174, 214);"></textarea>
                <textarea name="isPrivate" cols="100" rows="2" placeholder="public/private" spellcheck="false"
                    style="font-family: sans-serif;background-color: rgb(141, 185, 220);"></textarea>
                <textarea name="tags" cols="100" rows="2" placeholder="Add tags with commas" spellcheck="false"
                    style="font-family: sans-serif;background-color: rgb(130, 181, 222);"></textarea>
                <textarea name="contest" cols="100" rows="2" placeholder="contest" spellcheck="false"
                    style="font-family: sans-serif;background-color: rgb(134, 176, 210);"></textarea>

                <br>
                <br>
                <input type="submit" value="Submit" class="button-sub">
            </form>
        </div>

    </main>
</body>

</html>