<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css//login-modal.css">
</head>

<body>
    <header>
        <h1>1vs1</h1>
        <nav>
            <span class="link-active">Home</span>
            <button id="loginbutton">Login</button>
            <a href="/signReq">Register</a>
        </nav>
    </header>
    <article>
        <article>
            <h2>What is 1vs1?</h2>
            <p>1vs1 is a platform for competitive programming. It is a platform where you can practice, compete and
                challenge other programmers.</p>
        </article>
        <article>
            <h2>Why 1vs1?</h2>
            <p>1vs1 is a platform for competitive programming. It is a platform where you can practice, compete and
                challenge other programmers.</p>
        </article>
        <article>
            <h2>How to use 1vs1?</h2>
            <p>1vs1 is a platform for competitive programming. It is a platform where you can practice, compete and
                challenge other programmers.</p>
        </article>
    </article>
    <main>
        <h2>Blogs
        </h2>
        <div>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur alias est possimus nulla corporis
            adipisci ut. Soluta excepturi iusto nisi sed modi ea? Alias repellat quos adipisci esse, suscipit modi.
        </div>
        <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta inventore voluptate ducimus nesciunt ullam
            quas distinctio doloribus, fugit qui eum fuga totam cumque sapiente reiciendis veniam perspiciatis harum,
            eaque dolorum!
        </div>
        <div>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate magnam, pariatur cum similique
            architecto sequi ipsa tempora ducimus sed, nemo ad alias tenetur repellat ab sint, laboriosam et. Est,
            adipisci.
        </div>
    </main>
    <div class="modal-box">
        <div class="modal">
            <form action="/login" method="post">
                <h2>Login</h2>
                <input type="text" name="ID">
                <h2>Password</h2>
                <input type="password" name="password">
                <button type="submit">Login</button>
                <button id="cancelModal">Cancel</button>
            </form>
        </div>
    </div>
</body>
<script src="scripts/modalLogin.js"></script>

</html>