<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>1vs1</h1>
        <nav>
            <span class="link-active">Home</span>
            <a href="/practice" class="nav-item">Practice</a>
            <a href="/Contests" class="nav-item">Contests</a>
            <a href="/challenges" class="nav-item">Challenges</a>
            <a href="/logout">Logout</a>
        </nav>
    </header>
</body>
<main>
    <h2>Questions</h2>
    <ul>
        <%for(let i=0;i< arr.length;i++){%>
            <%const link="/quesSubmit/" +arr[i].ques_name%>
                <li><a href=<%=link%>><%=arr[i].ques_name%></a></li>
                <%}%>
    </ul>

</main>

</html>