<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/signin" method="post">
        <h3>UserName</h3>
        <input type="text" name="username" placeholder="username">
        <h3>Name</h3>
        <input type="text" name="name" placeholder="name">
        <h3>Password</h3>
        <input type="password" name="password" placeholder="password">
        <h3>Confirm Password</h3>
        <input type="password" name="confirm-password" placeholder="confirm password">
        <h3>Institution</h3>
        <input type=" text" name="institution" placeholder="institution">
        <h3>Email</h3>
        <input type="text" name="email" placeholder="email">
        <input type="submit" value="Sign In">
    </form>
</body>

</html>