.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1e1e;
    margin-top: 20px;
}

.auth-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: flex-start;
    padding: 20px; 
}

.auth-card {
    width: 320px;
    margin: 20px;
    padding: 30px;
    background-color: #2d2d2d;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    transition: transform 0.3s; 
}

.auth-card:hover {
    transform: scale(1.05);
}

.auth-card h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.auth-footer {
    margin-top: 20px;
    text-align: center;
    color: #aaa;
}

.auth-footer a {
    color: #66afe9;
}

@media (max-width: 768px) {
    .auth-card {
        width: 90%; 
    }
    .auth-page{
        height: auto;
        align-items: flex-start;
    }
}

@media (max-width: 480px) {
    .auth-card {
        padding: 20px; 
    }

    .auth-card h2 {
        font-size: 20px; 
    }

    .auth-page{
        align-items: flex-start;
    }
}

.typing-animation {
    font-family: 'Courier', monospace;
    white-space: pre;
    border-right: 2px solid;
    width: fit-content;
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    from { border-color: transparent; }
    to { border-color: black; }
}

.instruction-box {
    background-color: rgba(0, 0, 0, 0.7);
    color: #206f4d;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    max-width: auto;
    z-index: 1000;
    position: fixed;
}

.bottom-left {
    bottom: 20px;
    left: 20px;
}

.top-center {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}
