* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home-page {
    font-family: Arial, sans-serif;
    color: #333;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.hero-section {
    background: linear-gradient(135deg, #007BFF 30%, #00FF7F 100%);
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #ff6347;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #e5533c;
}

.content-section {
    background: linear-gradient(135deg, #5e5f60 30%, #a4a7a6 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    margin: 0 auto;
}

.paragraph-container {
    max-width: 800px;
    padding: 20px;
    margin: 50px 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.paragraph-container.right {
    align-self: flex-end;
    animation: slideInFromRight 1s forwards;
}

.paragraph-container.left {
    align-self: flex-start;
    animation: slideInFromLeft 1s forwards;
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.footer {
    padding: 40px;
    background-color: #333;
    color: white;
    text-align: center;
    margin: 0 auto; /* Center the footer */
}

/* .hero-animation {
} */

.benefits-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #f1f1f1;
}

.benefits-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.benefit-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
