.question-list-page {
    padding: 20px;
}

.search-tags-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.tags-section {
    display: flex;
    gap: 10px;
}

.tag {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.horizontal-question-list {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #383838;

}

.question-item-even {
    background-color: #78787a;
    padding: 20px;
    border-radius: 4px;
    cursor: pointer;
    min-width: calc(50% - 40px);
    max-width: calc(50% - 40px);
    margin: 15px;
    text-align: center;
}

.question-item-odd {
    background-color: #4f5051;
    padding: 20px;
    border-radius: 4px;
    cursor: pointer;
    min-width: calc(50% - 40px);
    max-width: calc(50% - 40px);
    margin: 15px;
    text-align: center;
}

.question-item:hover {
    background-color: #343535;
}
