.custom-list {
    list-style-type: none;
    padding: 0;
}

.custom-link {
    color: inherit; /* Inherit the color from parent, typically black */
    text-decoration: none; /* Remove underline */
}

.custom-link:hover {
    text-decoration: underline; /* Add underline on hover if desired */
}


.custom-list li {
    padding: 10px;
}

.custom-list .even {
    background-color: #5e5a5a;
    text-align: center;
    margin: 10px 0px;
    border-radius: 5px;
    /* Light grey */
}

.custom-list .odd {
    background-color: #4b4a4a;
    text-align: center;
    margin: 10px 0px;
    border-radius: 5px;
    /* Dark grey */
}
