/* Editorial.css */

.editorial-page {
    padding: 20px;
    background-color: #1e1e1e;
    color: #c0c0c0;
    font-family: 'Arial', sans-serif;
}

/* h2 {
    /* text-align: center; */
    /* color: #00ff00; */

.editorial-content {
    background-color: #2d2d2d;
    padding: 15px;
    border-radius: 8px;
}

pre {
    background-color: #2d2d2d;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
