/* .navbar {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.brand {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.links a {
    margin-left: 2rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.user-info {
    display: flex;
    align-items: center;
}

.username {
    margin-right: 1rem;
}

.logout-button {
    background-color: #ff4b4b;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

.logout-button:hover {
    background-color: #ff1a1a;
} */

/* NavBar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.links {
    display: flex;
    gap: 1rem;
}

.links a , .user-info a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.links a:hover {
    color: #ccc;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.username {
    font-size: 1.2rem;
    font-weight: bold;
}

.logout-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #e74c3c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #c0392b;
}
