/* App.css or RightSection.css */

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.section-header select {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #555;
    /* Darker border */
    border-radius: 4px;
    background-color: #333;
    color: white;
    cursor: pointer;
    appearance: none;
    /* Remove default arrow */
    background-image: linear-gradient(45deg, transparent 50%, white 50%), linear-gradient(135deg, white 50%, transparent 50%),
        linear-gradient(to right, #333, #333);
    /* Custom arrow */
    background-position: calc(100% - 15px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px), calc(100% - 15px) 0;
    background-size: 5px 5px, 5px 5px, 1px 100%;
    background-repeat: no-repeat;
}

.section-header select:hover {
    border-color: #aaa;
}

.section-header select:focus {
    outline: none;
    border-color: #66afe9;
}

.section-header .custom-button {
    padding: 8px 16px;
}

.section-header .custom-button.green {
    background-color: #28a745;
    /* Lush green */
}

.section-header .custom-button.grey {
    background-color: #6c757d;
    /* Grey */
}

.section-header .custom-button:not(:last-child) {
    margin-right: 10px;
    /* Space between buttons */
}

.notification {
    position: fixed;
    top: 10%;   
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    opacity: 0.9;
    z-index: 1000;
    animation: fadeout 5s forwards;
}

.notification.success {
    background-color: #4caf50;
    /* green */
}

.notification.error {
    background-color: #f44336;
    /* red */
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@keyframes fadeout {
    0% {
        opacity: 0.9;
    }

    80% {
        opacity: 0.9;
    }

    100% {
        opacity: 0;
    }
}
